//Estilos generales
@import 'app.scss';

//Carousel
@import 'slick-carousel/slick/slick.scss';

//Visor de imágenes
@import "@fancyapps/ui/dist/fancybox/fancybox.css";

.product {
    .badge {
        font-size: $font-size-sm;
    }

    .carousel {
        .carousel-slider {
            cursor: zoom-in;
        }

        .carousel-thumbnail {
            cursor: pointer;

            .slick-slide {
                margin: 0 3px;
            }

            .slick-slide {
                img {
                    border-radius: 15px;
                    background-color: $light;
                    border: 2px solid $light;
                }

                &.slick-current {
                    img {
                        border: 2px solid $success;
                    }
                }
            }

            button {
                &.slick-arrow {
                    margin: 0;
                    border: 0;
                    background: $gray-200;
                    border-radius: 40px;
                    width: 40px;
                    height: 40px;
                    line-height: 44px;
                    font-size: 1.6rem;
                    z-index: 9;
                    color: $body-color;
                    transition: all .18s ease 0s;

                    &:hover {
                        color: white;
                        background-color: $success;
                    }
                }

                &.slick-arrow.slick-prev {
                    left: 10px;
                }

                &.slick-arrow.slick-next {
                    right: 10px;
                }
            }

            .slick-prev, .slick-next {
                position: absolute;
                top: 45%;
                transform: translateY(-45%);
            }
        }
    }

    .components {
        i {
            &.fi {
                top: 2px;
            }
        }
    }

    .quantity {
        max-width: 95px;
    }

    .attachment {
        .card-custom-1 {
            background-color: $light;
            width: 200px;
            transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;

            &:hover {
                background-color: transparent;
                border-color: $success !important;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

                .h6, .h4 {
                    transition: color 0.3s;
                    color: $success;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .product {
        .badge {
            font-size: $badge-font-size;
        }
    }
}
